.advantages {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 36px 0 20px 0;

  @media (min-width: $vp-768) {
    width: 768px;
  }
}


// .advantages__container {
//   padding: 0;
// }

.advantages__wrapper {
  width: 678px;
  margin: 0 auto;
}

.advantages__list {
  width: 290px;
  margin: 0 auto;
  padding: 0;

  @media (min-width: $vp-768) {
    width: 678px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    gap: 30px;
  }
}

.advantages__title {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 37px 0;
  font-size: 22px;
  line-height: 22px;

  @media (min-width: $vp-768) {
    font-size: 25px;
    line-height: 25px;
    text-align: center;
  }
}

.advantages__button {
  display: none;

  @media (min-width: $vp-1440) {
    display: block;
    margin: 0 auto 0 40px;
  }
}
