.contacts-card {
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
flex-wrap: wrap;
width: 290px;
padding: 0 0 30px 32px;
margin: 0 auto;

  @media (min-width: $vp-768) {
    &:first-of-type {
      width: 153px;
    }

    &:nth-last-of-type(2n) {
      width: 159px;
    }

    &:last-of-type {
      width: 288px;
    }
  }
}

.contacts-card__image {
  position: absolute;
  content: '';
  left: 0;
  top: -2%;
  width: 22px;
  height: 22px;

  svg {
    width: 20px;
    height: 20px;
    color: currentColor;
  }

  @media (min-width: $vp-768){
    svg {
      width: 24px;
      height: 24px;
    }
  }
}

.contacts-card__title {
  width: 258px;
  padding: 0 0 8px 0;
  margin: 0;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $vp-768){
    font-size: 16px;
    line-height: 16px;
  }
}

.contacts-card__description {
  width: 230px;
  font-size: 14px;
  line-height: 20px;
  margin: 0;

  @media (min-width: $vp-768){
    line-height: 22px;
    width: 288px;
  }
}
