.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;

  @media (min-width: $vp-768) {
    width: 678px;
    padding: 20px 0;
  }

  @media (min-width: $vp-1440) {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
    margin: 0 auto;
    padding: 44px 0 40px 0;
  }
}

.main-nav__toggle {
  display: block;
  border: none;
  width: 26px;
  height: 26px;
  padding: 0;
  color: $color-default-white;
  fill: currentColor;

  svg {
    width: 26px;
    height: 26px;
    color: $color-default-white;
  }

  @media (min-width: $vp-1440) {
    display: none;
  }
}

.main-nav__menu {
  display: none;
  width: 100%;
  background-color: $color-blue;
  position: absolute;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  top: 114px;
  left: 0;
  z-index: 2;

  @media (min-width: $vp-768) {
    top: 82px;
  }

  @media (min-width: $vp-1440) {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    top: 52px;
    left: 470px;
    width: 663px;
  }
}

.main-nav__menu--open {
  display: block;
}

