.main-nav__contact {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: right;
  margin: 0 0 0 50px;
  width: 264px;
  align-items: center;

  @media (min-width: $vp-768) {
    flex-direction: row;
    width: 652px;
    margin: 0;
  }

  @media (min-width: $vp-1440) {
    justify-content: space-between;
    flex-wrap: wrap;
    width: 1200px;
  }
}

.main-nav__logo-link {
  display: block;
  width: 142px;
  color: $color-default-white;
  margin-left: auto;

  svg {
    display: block;
    width: 100%;
    fill: currentColor;
  }

  @media (min-width: $vp-1440) {
    margin: 0;
  }
}

.main-nav__tel {
  display: block;
  width: 122px;
  text-align: right;
  font-size: 14px;
  line-height: 14px;
  font-weight: 600;
  color: $color-default-white;
  padding: 14px 0 15px;margin-left: auto;

  @media (min-width: $vp-768) {
    width: 226px;
    padding: 0;
  }

  @media (min-width: $vp-1440) {
    font-size: 18px;
    line-height: 18px;
  }
}
