.main-nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 290px;
  padding: 15px 0;
  margin: 0 auto;
}

.main-nav__toggle {
  display: block;
  border: none;
  width: 26px;
  height: 26px;
  padding: 0;
  color: $color-default-white;
  fill: currentColor;

  svg {
    width: 26px;
    height: 26px;
    color: $color-default-white;
  }
}

.main-nav__menu {
  display: none;
  width: 100%;
  background-color: $color-blue;
  position: absolute;
  top: 115px;
  z-index: 2;
}

.main-nav__menu--open {
  display: block;
}
