.nav-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(3, auto);
  column-gap: 50px;
  padding: 23px 0 ;
}

.nav-list__item {
  // color: $color-main;

  &:nth-of-type(2n-1) {
    grid-column: 1/2;
  }

  &:nth-of-type(2n) {
    grid-column: 2/3;
  }
}

.nav-list__link {
  display: block;
  width: 120px;
  color: $color-main;
  text-align: center;
  text-transform: none;
  font-size: 14px;
  line-height: 14px;

  &:hover {
    color: $color-main;
    border-bottom: 1px solid $color-main;
  }

  &:focus {
    color: $color-main;
    border: 1px solid $color-main;
  }

  &:active {
    color: $color-blue;
  }
}
