.tours-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: bottom;
  width: 290px;
  margin: 0 auto;

  picture {
    display: block;
    width: 290px;
    height: auto;
  }

  @media (min-width: $vp-768) {
    width: 330px;

    picture {
      width: 330px;
    }
  }

  @media (min-width: $vp-768) {
    width: 380px;

    picture {
      width: 380px;
    }
  }
}

.tours-card__wrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  top: 0;
}

.tours-card__title {
  position: relative;
  font-family: $font-montserrat-bold;
  font-size: 24px;
  line-height: 28px;
  color: $color-default-white;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 0 5px 31px 5px;

  &::after {
    position: absolute;
    content: '';
    display: block;
    width: 80px;
    height: 1px;
    background-color: $color-default-white;
    opacity: 30%;
    top: 70px;
  }

  @media (min-width: $vp-768) {
    padding: 0 20px 31px 20px;
  }

  @media (min-width: $vp-1440) {
    width: 277px;
  }
}

.tours-card__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  color: $color-default-white;
  font-size: 12px;
  line-height: 12px;
}

.tours-card__item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  svg {
    color: $color-default-white;
    fill: currentColor;
  }

  span {
    display: block;
    width: 47px;
    padding: 0 0 0 12px;
  }
}

.tours-card__list:first-of-type {
  padding: 8px 5px 15px 5px;

  .tours-card__item {
    padding: 8px 16px 8px 12px;

    &:first-of-type {
      background-color: $color-blue;

      svg {
        width: 9px;
        height: 12px;
      }

      span {
        padding: 0 0 0 9px;
      }
    }

    &:nth-of-type(2n) {
      svg {
        width: 20px;
        height: 20px;
      }
    }

    &:last-of-type {
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  @media (min-width: $vp-768) {
    padding: 8px 20px 15px 20px;
  }
}

.tours-card__list:last-of-type {
  padding: 0 5px 30px 5px;

  .tours-card__item {
    flex-direction: column;
    justify-content: start;
    align-content: start;
    align-items: start;

    .tours-card__category {
      display: block;
      width: 100%;
      font-family: $font-montserrat-light;
      font-size: 12px;
      line-height: 12px;
      font-weight: 300;
      padding: 0 0 4px 0;
    }

    .tours-card__category--description {
      display: block;
      width: 100%;
      font-family: $font-montserrat-bold;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;
      padding: 0;
    }

    svg {
      width: 84px;
      height: 16px;
    }
  }

  @media (min-width: $vp-768) {
    padding: 0 20px 30px 20px;
  }
}
