.training {
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 36px 0 20px 0;
}

.training__container {
  padding: 0;
}
.training__wrapper {
  width: 290px;
  margin: 0 auto;
}

.training__list {
  width: 320px;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;

  .swiper-slide-active.swiper-slide {
    border: 1 px solid rgba(45, 56, 63, 0.3);
  }
}

.training__title {
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 35px 0;
  font-size: 22px;
  line-height: 22px;
}

.training__description {
  font-size: 15px;
  line-height: 20px;
  display: block;
  width: 290px;
  margin: 0 auto;
  padding: 0 0 25px 0;
}

.training__button {
  display: none;
}
